.btn-primary {
  background: linear-gradient(to bottom, #1a3b5c, #0f2b4a);
  color: #f1f1f1;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
}

.btn-primary:hover {
  background: linear-gradient(to bottom, #0f2b4a, #1a3b5c);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
